<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to book_path(book) do %>
    <%= image_tag "https://reprog.files.wordpress.com/2010/04/rails-book.jpeg", class: "img-responsive" %>
    <% end %>
    <div class="caption">
    <h3><strong><%= link_to book.name, book_path(book) %></strong></h3>
    <p>$<%= book.price.to_f / 100  %></p> 
    </div>
  </div>
</div>